@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


Welcome to our Library Management System. Your privacy is important to us.
This privacy policy explains how we collect, use, and protect your information.
<br>
Information We Collect,
<br>
	•	Personal details (e.g., name, email, contact information) when registering.
    <br>
	•	Interactions with our website.
<br>
How We Use Your Information,
<br>
	•	To manage your account and provide access to library resources.
    <br>
	•	To improve our services and personalize your experience.
    <br>
	•	To communicate with you regarding updates or issues.
<br>
<p>Data Protection,
<br>
We take security seriously and implement appropriate measures to protect your data.
Your information will not be shared with third parties without your consent,
except as required by law.
<br>
Contact Us
<br>
If you have any questions about our privacy policy, feel free to contact us at support@library.com.</p
